{% import 'macros/forms.html' as f with context %}

{% extends "layouts/page.html" %}
{% block content %}

<div class="row">

    <div class="col-6">
        <div class="row md-margin-bottom">

            <h2 class="lg-margin-bottom">Enter a new password</h2>
            <span>Update the password for your account</span>
        </div>

        {% call f.form_tag('user.new_password') %}
        <div class="row lg-margin-bottom">


            {% call f.form_field(form.password) %}
            {% endcall %}
        </div>
        <div class="row ">
            <div class="col center-block ">
                <div align=center>
                    <button type="submit" class="btn save-button ">Save password</button>
                </div>
            </div>
        </div>
        {% endcall %}
    </div>
    <div class="col-6"></div>
</div>

{% endblock %}