{% import 'macros/forms.html' as f with context %}

{% extends "layouts/page.html" %}
{% block content %}

<div class="row">

    <div class="col-6">
        <div class="row md-margin-bottom">

            <h2 class="lg-margin-bottom">Password Reset</h2>
            <span>Forgot your password? Enter your email below to reset your password.</span>
        </div>

        {% call f.form_tag('user.reset_password') %}
        <div class="row lg-margin-bottom">



            {% call f.form_field(form.email) %}
            {% endcall %}
            
        </div>
        <div class="row ">
            <div class="col center-block ">
                <div align=center>
                    <button type="submit" class="btn save-button ">Reset Password</button>
                </div>
            </div>
        </div>
        {% endcall %}
    </div>
    <div class="col-6"></div>
</div>

{% endblock %}