{% import 'macros/forms.html' as f with context %}

{% extends "layouts/app.html" %}
{% block title %}Settings{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}



<div class="row">
    <div class="col-6">

        <div class="app-form-wrapper">
            <div class="row md-margin-bottom">
                <div class="col">
                    <h2 class="lg-margin-bottom">Update your password</h2>
                    <span>Enter your old password before entering a new one.</span>
                </div>
            </div>

            {% call f.form_tag('user.update_password') %}
            <div class="row lg-margin-bottom">
                <div class="col">



                {% call f.form_field(form.old_password, css_class="standard_form_field") %}
                {% endcall %}
        
                {% call f.form_field(form.password, css_class="standard_form_field") %}
                {% endcall %}
                {% call f.form_field(form.confirm, css_class="standard_form_field") %}
                {% endcall %}
            </div>
            </div>
            <div class="row ">
                <div class="col center-block ">
                    <div align=center>
                        <button type="submit" class="btn save-button ">Update</button>
                    </div>
                </div>
            </div>
            {% endcall %}
        </div>
    </div>

</div>

{% endblock %}