{% import 'macros/forms.html' as f with context %}

{% extends 'layouts/app.html' %}
{% block content %}
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
<div class="container-fluid container-full-height container-main">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-4">
            <nav class="ml-2 app-navbar navbar-light app-sidebar-nav navbar-margin-bottom text-center">
                <a class=" app-navbar-brand" href="{{ url_for('analysis.home') }}">uolo</a>
                <hr class="divider">
            </nav>
            <div class="row lg-margin-top lg-margin-bottom">
                <div class="col-lg-12">
                    <div class="ml-2 mr-0">
                        <div class="tip lg-margin-top md-margin-bottom text-center">
                            <span class="tip-text">Search a stock ticker to start <a
                                    href="#more_info">Learn More</a>.</span>
                        </div>
                        
                        <div class="lg-margin-top sm-margin-bottom">
                            {% call f.form_field(form.analysis_label, css_class="standard_form_field", label_css_class="app-label", placeholder="Ticker") %}
                            {% endcall %}
                        </div>
                        <div class="md-margin-top lg-margin-bottom">
                            <div class="row">

                                <div class="col">
                                    <div id="loader" class="loader"></div>
                                </div>
                            </div>
                        </div>
                        <div class="md-margin-top lg-margin-bottom text-center">
                            <em>Can't think of anything? Try <a id="helper-1">AAPL</a></em>

                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-12">
                    <div class="mr-2 ml-0">
                        <div class="row md-margin-top md-margin-bottom">
                            <div class="container-fluid">
                                <canvas id="myChart" width="400" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>var exports = {};</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js" integrity="sha256-Y26AMvaIfrZ1EQU49pf6H4QzVTrOI8m9wQYKkftBt4s=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.0/dist/index.umd.min.js"></script>
<script src="{{ url_for('static', filename='scripts/overview.js') }}" async></script>

{% endblock %}