{% import 'macros/forms.html' as f with context %}

{% extends 'layouts/app.html' %}
{% block content %}

<div class=" h-50 container-fluid container-full-height container-main">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 md-padding-right">

            <div class="row md-margin-top sm-margin-bottom">
                <div class="col-lg-12">
                    <div class="ml-2 mr-0">
                        <div class="tip md-margin-bottom text-center">
                            <span class="tip-text">Select an analysis preset to start <a href="#more_info">Learn
                                    More</a>.</span>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="lg-margin-top lg-margin-bottom text-center">
                                    {% call f.form_field(form.analysis_label, css_class="standard_form_field",
                                    label_css_class="app-label", placeholder="Ticker") %}
                                    {% endcall %}
                                </div>
                            </div>
                            <div class="col">
                                <div class="lg-margin-top lg-margin-bottom text-center">
                                    {% call f.form_field(form.indicator, css_class="standard_form_field",
                                    label_css_class="app-label", placeholder="Ticker") %}
                                    {% endcall %}
                                </div>

                            </div>
                            <div class="col">
                                <div class="lg-margin-top lg-margin-bottom text-center">
                                    {% call f.form_field(form.period, css_class="standard_form_field",
                                    label_css_class="app-label", placeholder="Ticker") %}
                                    {% endcall %}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="lg-margin-top lg-margin-bottom text-center">
                                    {% call f.form_field(form.filter_indicator, css_class="standard_form_field",
                                    label_css_class="app-label", placeholder="Ticker") %}
                                    {% endcall %}
                                </div>
                            </div>
                            <div class="col">
                                <div class="lg-margin-top lg-margin-bottom text-center">
                                    {% call f.form_field(form.filter_indicator_label, css_class="standard_form_field",
                                    label_css_class="app-label", placeholder="Ticker") %}
                                    {% endcall %}
                                </div>

                            </div>
                            <div class="col">
                                <div class="lg-margin-top lg-margin-bottom text-center">
                                    {% call f.form_field(form.filter_percentile, css_class="standard_form_field",
                                    label_css_class="app-label", placeholder="Ticker") %}
                                    {% endcall %}
                                </div>
                            </div>
                        </div>
                        
                        <div class="md-margin-top lg-margin-bottom">
                            <div class="row">
                                <div class="col">

                                </div>
                                <div class="col">
                                    <div id="button-wrap">
                                        <button type="submit" class="action-button" id="query_button">Search <div
                                                id="underline"></div>
                                        </button>
                                    </div>

                                </div>
                                <div class="col">
                                    <div id="loader" class="loader"></div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12 md-padding-right md-padding-left">
            <div class=" row">
                <div class="table-responsive tbodyDiv">

                    <table>
                        <thead class="sticky-top">
                            <tr id="table-header-row"></tr>
                        </thead>
                        <tbody id="tbody">
                            <tr></tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-12 col-xs-12 md-padding-left">
            <div class="row">
                <div class="col-12">
                    <div class="mr-2 ml-0">
                        <div class="row md-margin-top md-margin-bottom">
                            <div class="container-fluid">
                                <canvas id="myChart" width="400" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>var exports = {};</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"
    integrity="sha256-Y26AMvaIfrZ1EQU49pf6H4QzVTrOI8m9wQYKkftBt4s=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.0/dist/index.umd.min.js"></script>
<script src="{{ url_for('static', filename='scripts/overview.js') }}" async></script>
<script src="{{ url_for('static', filename='scripts/list.js') }}"></script>
{% endblock %}